<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Create New Reservation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
    <h1>Make a New Reservation</h1>
    <p>Now that you've had a chance to peruse our lovely selections, feel free to choose your next destination today!</p>

    <form action="/reservations" method="POST">
      <label for="user_id">Select User: </label>
      <select name="user_id">
        <% @users.order(:name).each do |user| %>
        <option value="<%=user.id%>"><%=user.name%></option>
        <% end %>
      </select><p></p>
      
      <h3>Why wait? Select up to three reservations today!</h3>

      <label for="host[id]">Select Host: </label>
      <select name="host[id]">
        <% @hosts.order(:name).each do |host| %>
          <option value="<%=host.id%>"><%=host.name%></option>
          <% end %>
      </select>
        <p></p>
        <label for="host[length_of_stay]">Select Length of Stay: </label>
          <% (1..5).to_a.each do |d| %>
            <input type="radio" name="host[length_of_stay]" value="<%= d %>">
              <% if d == 1 %>
                <%= "#{d} Day"%>
              <% else %>
                <%= "#{d} Day(s)"%>
                <% end %>
              </input>
          <% end %>
        <p></p>
        <p></p>

        <input type="submit" value="Create Rez!">
    
    </form>


</body>
</html>